<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder: :Name %>
  </div>

  <div class="field">
    <%= form.password_field :password, placeholder: :Password %>
  </div>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
