<%= form_with(model: room, local: true) do |form| %>
  <div class="field">
    <%= form.text_field :name, placeholder: :Name %>
  </div>

  <div class="field">
    <%= form.password_field :password, placeholder: :Password %>
  </div>

  <div class="field">
    <%= form.collection_select :game_type_id, GameType.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
