<div class="sidebar-item">
  議論時間：<%= select_tag(:minutes, options_for_select(1..10, 5), id: 'minutes')%>分
</div>
<%= button_tag('START', type: 'button', id: 'start', class: 'sidebar-item') %>
<%= button_tag('RESET', type: 'button', id: 'reset', class: 'sidebar-item') %>
