<h2>Yes/No ウルフの遊び方</h2>
<ol>
  <li>全員が入室するまで待ちます</li>
  <li>ホストが議論時間を設定します</li>
  <li>ホストが START を押します</li>
  <li>各自に役職とワードが表示されます
    <ul>
      <li>村人: ワードはわかりません。司会に質問して答えを探りましょう</li>
      <li>ウルフ: ワードがわかります。ばれないように司会に質問して全体を答えに導きましょう</li>
      <li>司会: ワードがわかります。みんなの質問に yes/no/わからない で答えましょう</li>
    </ul>
  </li>
  <li>答えがわからず時間切れになったら全員が負けです</li>
  <li>時間切れになる前に答えがわかったらホストが答えが当たったボタンを押します</li>
  <li>誰がウルフだったか話し合って、怪しい人に投票しましょう</li>
  <li>最後のユーザが投票したら結果が発表されます</li>
</ol>
