<h2>ワードウルフの遊び方</h2>
<ol>
  <li>全員が入室するまで待ちます</li>
  <li>ホストが議論時間を設定します</li>
  <li>ホストが START を押します</li>
  <li>各自にお題のワードが表示されます</li>
  <li>時間切れになるまで、会話をしてウルフ（少数派）を探ります</li>
  <li>時間切れになったらウルフだと思うユーザに投票します </li>
  <li>最後のユーザが投票したら結果が発表されます</li>
</ol>
