<table class="room-list">
  <thead class="room-list-header">
    <tr class="room-list-row">
      <th class="room-list-cell">Name</th>
      <th class="room-list-cell">Host</th>
      <th class="room-list-cell">State</th>
      <th class="room-list-cell" colspan="2"><i class="fab fa-wolf-pack-battalion"></i></th>
    </tr>
  </thead>

  <tbody>
    <%# TODO: allだとすべて出てくるので、ここでuserがいるroomに絞るか、userが全員退出したらroomを削除したい %>
    <% Room.all.each do |room| %>
      <tr class="room-list-row">
        <td class="room-list-cell">
          <%= room.name %>
          <%= link_to('<i class="fas fa-trash-alt"></i>'.html_safe, room_path(room), method: :delete, data: { confirm: "部屋「#{room.name}」を削除しますがよろしいですか？" }, class: 'destroy-room') if current_user&.host?(room) %>
        </td>
        <td class="room-list-cell"><%= room.host&.name %></td>
        <td class="room-list-cell"><%= room.state %></td>
        <%= form_with(model: room, method: :get, local: true) do |form| %>
          <td class="room-list-cell">
            <%= room.password.present? ? password_field_tag(:password, nil, id: "room_password_#{room.id}", placeholder: :Password) : :Passなし %>
          </td>
          <td><%= form.submit('参加', class: :button) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
