<h2>結果</h2>
<div class="result-container">
  <% if round.winner&.wolf? %>
    <h3>ウルフの勝ち！</h3>
    <%= image_tag("character_hitsuji_ookami.png", alt: "wolf wear a sheep skin", class: "result-image") %>
  <% elsif round.winner&.human? %>
    <h3>村人の勝ち！</h3>
    <%= image_tag("villagers.png", alt: "villagers", class: "result-image" ) %>
  <% else %>
    <h3>ワードを当てられなかったので全員負け！</h3>
  <% end %>
  <table class="result-table">
    <tr><th>ユーザ</th><th>役職</th><th>ワード</th><th>投票先</th></tr>
    <% Round.result(round).each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.role_name %></td>
        <td><%= user.word_name %></td>
        <td><%= user.vote_to %></td>
      </tr>
    <% end %>
  <table>
<div>
