<% role, word = round.role_and_word(current_user) %>
<h2>お題</h2>
<dl>
  <dt class="theme-title">your word</dt>
  <dd class="theme-body"><%= word&.name || '？' %></dd>
  <% if round.room.game_type.yes_no_wolf? %>
    <dt class="theme-title">your role</dt>
    <dd class="theme-body"><%= role.name %></dd>
  <% end %>
</dl>
<%= button_tag('答えがあたった！', type: 'button', id: 'correct') if current_user.host? && round.room.game_type.yes_no_wolf? %>
