<h2>参加者</h2>
<table>
  <tbody>
    <% current_user.room&.users&.each do |user| %>
      <tr class="attendees-row">
        <% if current_user.host? %>
          <td class="attendees-cell"><%= button_tag('<i class="fas fa-skull-crossbones"></i>'.html_safe, data: { user_id: user.id }, type: 'button', class: 'kick') if user != current_user %></td>
        <% end %>
        <td class="attendees-cell"><%= user.name %><%= '(Host)' if user.host? %></td>
        <td class="attendees-cell">
          <% if user != current_user %>
            <%= button_tag('投票', data: { user_id: user.id }, class: 'vote', disabled: !current_user.room.current_round&.voting? || current_user.has_voted? || user.facilitator?) %>
          <% end %>
        </td>
        <td class="attendees-cell">
          <span class="voted">
            <%= "<i class='fas fa-vote-yea'></i>".html_safe if current_user.room.current_round&.voting? && user.has_voted? %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
