<header class="header">
  <p class="site-title-sub">Know today, Power tomorrow</p>
  <h1 class="site-title"><i class="fab fa-wolf-pack-battalion"></i>WORD-WOLF<i class="fab fa-wolf-pack-battalion"></i></h1>
  <p class="site-description">ワードウルフのゲームマスターツールです
    <br>オンラインで遊ぼう</p>
</header>

<section class="about">
  <div class="op-area">
    <h2 class="heading">このサイトの遊び方</h2>
    <div class="about-text">
      <h3>1. アカウントを作ってね</h3>
      <ul>
        <li>名前はユニークです。早いもの勝ちです。</li>
        <li>アカウントを作ると自動的にログインします。</li>
      </ul>
      <h3>2. ゲーム部屋を作ってね</h3>
      <ul>
        <li>入室パスワードはなくても大丈夫です。</li>
        <li>ゲームの種類を選んでください。ワードウルフとYesNoウルフが選べます。</li>
        <li>部屋名もユニークです。早いもの勝ちです。</li>
      </ul>
      <h3>ゲームの種類</h3>
      <h4>ワードウルフ</h4>
      <p>みんなでお題について話し合う中、みんなとは異なるお題を与えられた少数派の人（ワードウルフ）を探し出すゲームです。</p>
      <h4>YesNoウルフ</h4>
      <p>司会に対してみんなで質問を繰り返しながら、制限時間内に答えにたどり着くゲームです。 1人だけ答えを知っているウルフは、自分がウルフだとバレてはいけません。</p>
    </div>
  </div>
</section>

<section id="account" class="account">
  <h2 class="heading">アカウント</h2>
  <div class="account-container">
    <% if logged_in? %>
      <%= link_to "Log out", logout_path, method: :delete, class: :button %>
    <% else %>
      <div class="account-form">
        <div class="account-inner-form">
          <h3 class="">アカウント登録</h3>
          <%= render 'users/form', user: @user %>
        </div>
        <div class="account-inner-form">
          <h3 class="">ログイン</h3>
          <%= render 'sessions/form' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="room">
  <h2 class="heading">部屋を作る</h2>
  <div class="room-form">
    <%= render 'form', room: @room %>
  </div>
</section>


<section class="rooms">
  <h2 class="heading">お部屋</h2>
  <div class="rooms-container">
    <%= render 'list' %>
  </div>
</section>
