<h1 id="room" class="room-title" data-id="<%= @room.id %>" data-game-type-name="<%= @room.game_type.name %>">
  部屋:<%= @room.name %><span style="font-size: 2rem">(<%= @room.game_type.name %>)</span>
</h1>

<div class="room-container">
  <%# 参加者 %>
  <div class="sidebar-box">
    <div id="users" class="attendees-area">
      <%= render 'users' %>
    </div>

    <div class="leave-area">
      <%= button_to('退室', root_path, method: :get, id: 'leave', class: 'sidebar-item') %>
    </div>

    <%# ホスト管理項目 %>
    <div id="host_item">
      <%= render 'host_item' if current_user.host?(@room) %>
    </div>
    <div class="howto-play">
      <%= render @room.game_type.word_wolf? ? 'howto_play_ww' : 'howto_play_yw' %>
    </div>
  </div>

  <%# お題 %>
  <div class="main-box">
    <div id="theme"></div>

    <%# けっかはっぴょうーーー！！ %>
    <div id="result"></div>
  </div>
</div>

<%# TODO: 取り急ぎ！ %>
<style>
select,button,input {
  color: black;
}
</style>
