/*
*= require jquery.toast
*= require_tree .
*/

@charset "UTF-8";

html {
  font-size: 62.5%
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Montserrat, "Hiragino Kaku Gothic ProN", Miryo, sans-serif;
}

.site-title-sub {
  marign: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}

.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

.about{
  padding: 80px 30px;
  background-color: #fff;
  background-image: image-url("character_hitsuji_ookami.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: #333;
}
.op-area{
  height: 100%;
  background: rgba(255,255,255,0.8);
}

.heading {
  position: relative;
  margin: 30px 0 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}

.heading::before {
  bottom: 5px;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}

.about-text {
  margin: 30px 0;
  line-height: 2.5;
}

.about-text li{
  list-style: none;
}

.account {
  padding: 80px 0 150px;
}

.account-container {
  margin: 30px 0;
}

.room {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.button {
  border: solid;
  border-width: 1px;
  display: inline-block;
  width: 100px;
  padding: 20px;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.account-form {
  width: 70%;
  margin: 50px auto 0;
  display: table;
  table-layout: fixed;
}

.account-form input[type=text],
.account-form input[type=password] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color:  rgba(255, 255, 255, 0.05);
  color: #fff;
}

.account-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px sold rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.account-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.account-inner-form{
  display: table-cell;
  padding: 0 20px;
}

.room-form {
  width: 50%;
  margin: 50px auto 0;
}

.room-form input[type=text],
.room-form input[type=password] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color:  rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.6);;

}

.room-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px sold rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.room-list {
  margin: 0 auto 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.room-list-header {
  font-size: 2.5rem
}

.room-list-row {
  border-bottom: solid 1px #eee;
}

.room-list-cell {
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.rooms {
  padding: 80px 0 150px;
}

.rooms-container {
  width: 50%;
  margin: 50px auto 0;
}

.result-container {
  width: 50%;
  margin: 50px auto 0;
}

.result-title {
  float: left;
}

.result-votes {
  list-style: none;
}

.room-title {
  margin: 30px 0 30px;
  font-size: 4rem;
}

.room-container{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 300px 300px 300px;
}

.sidebar-box {
  grid-column: 1;
  grid-row: 1 / 4;
  display: block;
  margin: 15px 0 0 30px;
  padding: 10px;
}

.sidebar-item{
  display: block;
  width: 80%;
  margin: 0 auto 20px;
}

.attendees-area {
  margin: 10px 10px 70px 10px;
}

.attendees-row {
}

.attendees-cell {
  text-align: center;
  width: 25%;
  padding: 7px 0;
}

.leave-area {
  margin: 0 10px 70px 10px;
}

.howto-play {
  margin-top: 50px;
}

.howto-play li{
  text-align: left;
}

.main-box {
  grid-column: 2;
}

.timer-box {
  grid-column: 2;
  font-size: 4rem;
  letter-spacing: 5px;
}

.theme-title {
  font-size: 2.0rem;
}

.theme-body {
  font-size: 4.0rem;
  margin-inline-start: unset;
  margin-top: 20px;
}

.room-list input[type=password] {
  display: block;
  width: 90%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color:  rgba(255, 255, 255, 0.05);
  color: #fff;
}

.room-list .button{
  padding: 10px;
}

.result-image{
  width:auto;
  height:auto;
  max-width:50%;
  max-height:50%;
}

.result-table{
  margin: 0 auto 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.result-table th{
  font-size: 2.5rem
}
.result-table tr{
  border-bottom: solid 1px #eee;
}
.result-table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

.destroy-room {
  margin-left: 10px;
  color: white;
}

.destroy-room:hover {
  color: red;
}
