<!DOCTYPE html>
<html>
  <head>
    <title>WordWolf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba55ba0614.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  <% #TODO 必要であれば移動する %>
  <% flash.each do |message_type, message| %>
    flashToast("<%= message_type %>", "<%= message.html_safe %>");
  <% end %>

function flashToast(icon, text) {
  $.toast({
    text: text,
    showHideTransition: 'slide',
    hideAfter: 5000, // TODO: errorのときは消えなくて良いかも
    icon: icon
  })
}
</script>
